{% set isTransparent = true %}

{% extends 'base.html.twig' %}

{% block title %}
	Accueil | Le Café des Chiens
{% endblock %}

{% block body %}
	<div class="p_Home">
		{% include 'components/organisms/_heroHome.html.twig' %}

	</div>
{% endblock %}
