{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'includes/_navbar.html.twig' %}

    <p> Coucou la page d'accueil </p>
{% endblock %}
