{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include 'includes/_navbar.html.twig' %}

	<p class="home_title">
		Coucou la page d'accueil
	</p>
	<button class="a_Button-primary">Click</button>
{% endblock %}
