{% set isTransparent = true %}

{% extends 'base.html.twig' %}

{% block title %}
	Accueil | Le Café des Chiens
{% endblock %}

{% block body %}
	<div class="p_Home">
		{% include 'components/organisms/_heroHome.html.twig' %}
		{% include 'components/organisms/_aboutSectionHome.html.twig' %}
		{% include 'components/organisms/_aboutMeSectionHome.html.twig' %}
		{% include 'components/organisms/_needsListHome.html.twig' %}
		{% include 'components/organisms/_benefitListHome.html.twig' %}
		{% include 'components/organisms/_reinsuranceList.html.twig' %}
		{% include 'components/organisms/_locationSectionHome.html.twig' %}
	</div>
{% endblock %}
