@use "../Tools/typography";
@use "../Settings/variables";
@use "../Settings/responsive_variables";

// Button
@mixin buttonDefault {
   @include typography.body-bold;

   cursor: pointer;
   white-space: nowrap;
   text-decoration: none;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem 1.5rem;
   border: none;
   border-radius: variables.$border-radius-100;
   transition: all variables.$animation ease-in-out;
}

// Padding
@mixin padding($padding: 7.5rem) {
   padding-top: 5rem;
   padding-bottom: 5rem;

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      padding-top: $padding;
      padding-bottom: $padding;
   }
}

@mixin paddingWrapper($padding: 3rem) {
   padding-right: 1.25rem;
   padding-left: 1.25rem;

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      padding-right: $padding;
      padding-left: $padding;
   }
}

// Wrapper
@mixin wrapper($size: variables.$wrapper, $padding: 3rem) {
   @include paddingWrapper($padding);
   margin-left: auto;
   margin-right: auto;
   position: relative;
   z-index: 1;
   width: 100%;
   max-width: $size;
}

// Margin
@mixin margin($margin: 9rem) {
   margin-top: 7.5rem;
   margin-bottom: 7.5rem;

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      margin-top: $margin;
      margin-bottom: $margin;
   }
}

// Underline
@mixin underline($color: variables.$color-primary) {
   &::after {
      content: "";
      display: block;
      width: 8.5rem;
      height: 1px;
      background-color: $color;
      margin-top: 1.25rem;
   }
}

@mixin underlineTitle($color: variables.$color-primary) {
   &::after {
      content: "";
      display: block;
      width: 10rem;
      height: 4px;
      background-color: $color;
      margin: 2rem auto 0 auto;
   }
}