@use "../Tools/typography";
@use "../Settings/variables";
@use "../Settings/responsive_variables";

// Button
@mixin buttonDefault {
   @include typography.body-bold;

   cursor: pointer;
   white-space: nowrap;
   text-decoration: none;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 8px 26px;
   border: none;
   border-radius: variables.$border-radius-100;
   transition: all variables.$animation ease-in-out;
}

// Padding
@mixin paddingWrapper($padding: 48px) {
   padding-right: 20px;
   padding-left: 20px;

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      padding-right: $padding;
      padding-left: $padding;
   }
}

// Wrapper
@mixin wrapper($size: variables.$wrapper, $padding: 48px) {
   @include paddingWrapper($padding);
   margin-left: auto;
   margin-right: auto;
   position: relative;
   z-index: 1;
   width: 100%;
   max-width: $size;
}