<footer class="l_Footer">
	<div class="l_Wrapper l_Footer_content">
		<div class="l_Footer_logo">
			<img src="{{ asset('build/images/logos/logo-white-small.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
		</div>
		<div class="l_Footer_menu">
			<h4 class="l_Footer_title">Plan du site</h4>
			<ul class="l_Footer_menu_list">
				<li class="l_Footer_menu_item">
					{% include 'components/atoms/_link.html.twig' with {
						url: path('home'),
						label: 'Le Parc',
						class: 'l_Footer_menu_item-link'
					} %}
				</li>
				<li class="l_Footer_menu_item">
					{% include 'components/atoms/_link.html.twig' with {
						url: path('education'),
						label: 'Éducation canine',
						class: 'l_Footer_menu_item-link'
					} %}
				</li>
				<li class="l_Footer_menu_item">
					{% include 'components/atoms/_link.html.twig' with {
						url: path('prices'),
						label: 'Tarifs',
						class: 'l_Footer_menu_item-link'
					} %}
				</li>
				<li class="l_Footer_menu_item">
					{% include 'components/atoms/_link.html.twig' with {
						url: path('home'),
						label: 'Contact',
						class: 'l_Footer_menu_item'
					} %}
				</li>
				<li class="l_Footer_menu_item">
					{% include 'components/atoms/_link.html.twig' with {
						url: path('home'),
						label: 'Réservation',
						class: 'l_Footer_menu_item'
					} %}
				</li>
				<li class="l_Footer_menu_item">
					{% include 'components/atoms/_button.html.twig' with {
						url: path('home'),
						label: 'Connexion',
						class: 'a_Button-tertiary l_Footer_menu_item'
					} %}
				</li>
			</li>
		</ul>
	</div>
	<div class="l_Footer_opening">
		<h4 class="l_Footer_title">Horaires</h4>
		<ul class="l_Footer_opening-list">
			<li class="l_Footer_opening-item">
				<span class="l_Footer_opening-item-day">Lundi :</span>
				<span class="l_Footer_opening-item-time">Fermé</span>
			</li>
			<li class="l_Footer_opening-item">
				<span class="l_Footer_opening-item-day">Mardi :</span>
				<span class="l_Footer_opening-item-time">8h - 19h</span>
			</li>
			<li class="l_Footer_opening-item">
				<span class="l_Footer_opening-item-day">Mercredi :</span>
				<span class="l_Footer_opening-item-time">8h - 19h</span>
			</li>
			<li class="l_Footer_opening-item">
				<span class="l_Footer_opening-item-day">Jeudi :</span>
				<span class="l_Footer_opening-item-time">8h - 19h</span>
			</li>
			<li class="l_Footer_opening-item">
				<span class="l_Footer_opening-item-day">Vendredi :</span>
				<span class="l_Footer_opening-item-time">8h - 19h</span>
			</li>
			<li class="l_Footer_opening-item">
				<span class="l_Footer_opening-item-day">Samedi :</span>
				<span class="l_Footer_opening-item-time">Fermé</span>
			</li>
			<li class="l_Footer_opening-item">
				<span class="l_Footer_opening-item-day">Dimanche :</span>
				<span class="l_Footer_opening-item-time">Fermé</span>
			</li>
		</ul>
	</div>
	<div class="l_Footer_contact">
		<h4 class="l_Footer_title">Contact</h4>
		<ul class="l_Footer_contact-list">
			<li class="l_Footer_contact-item">
				{% include 'components/atoms/_link.html.twig' with {
					url: 'tel:+33630209394',
					icon: 'bi bi-telephone-fill',
					label: '06 30 20 93 94',
					class: 'l_Footer_contact-link'
				} %}
			</li>
			<li class="l_Footer_contact-item">
				{% include 'components/atoms/_link.html.twig' with {
					url: 'mailto:contact@cafedeschiens.com',
					icon: 'bi bi-envelope-fill',
					label: 'contact@cafedeschiens.com',
					class: 'l_Footer_contact-link'
				} %}
			</li>
		</ul>

		<div class="l_Footer_contact-social">
			{% include 'components/atoms/_link.html.twig' with {
				url: 'https://www.facebook.com/cafedeschiens',
					icon: 'bi bi-facebook',
					class: 'l_Footer_contact-social-link',
					target: '_blank'
				} %}

			{% include 'components/atoms/_link.html.twig' with {
					url: 'https://www.instagram.com/cafedeschiens',
					icon: 'bi bi-instagram',
					class: 'l_Footer_contact-social-link',
					target: '_blank'
				} %}
		</div>
		<div class="l_Footer_contact-info">
			<p class="l_Footer_contact-address">
				<strong>Elise Collin</strong>
				<br>
				Éducatrice canine
				<br>
				Grenoble et son agglomération | Isère
				<br>
				Le Café des Chiens
				<br>
				Rue des Brassières
				<br>
				38420 Le Versoud
			</p>
		</div>
	</div>
</div></footer>
