<header class="l_Header {% if isTransparent is defined and isTransparent %}l_Header-transparent{% endif %}">
	<nav class="o_Navbar">
		<a href="{{ path ('home') }}">
			<img class="o_Navbar_logo o_Navbar_logo-white" src="{{ asset('build/images/logos/logo-white-small.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
			<img class="o_Navbar_logo o_Navbar_logo-color" src="{{ asset('build/images/logos/logo-color.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
		</a>
		<div class="o_Navbar_menu">
			{% include 'components/atoms/_link.html.twig' with {
				url: path('home'),
				label: 'Parc',
				class: 'o_Navbar_menu-link'
			} %}

			{% include 'components/atoms/_link.html.twig' with {
				url: path('education'),
				label: 'Éducation',
				class: 'o_Navbar_menu-link'
			} %}

			{% include 'components/atoms/_link.html.twig' with {
				url: path('prices'),
				label: 'Tarifs',
				class: 'o_Navbar_menu-link'
			} %}

			{% include 'components/atoms/_link.html.twig' with {
				url: path('contact'),
				label: 'Contact',
				class: 'o_Navbar_menu-link'
			} %}
		</div>
		<div class="o_Navbar_links">
			<div class="o_Navbar_links-mobileMenu">
				{% if app.user %}
					{% include 'components/atoms/_link.html.twig' with {
						url: path('profile_dashboard'),
						icon: 'bi bi-person-circle',
						class: 'o_Navbar_links-mobileMenu-link',
					} %}
				{% endif %}
				<i class="bi bi-list m_MobileMenu_open"></i>
			</div>
			<div class="o_Navbar_links-socials">
				{% include 'components/atoms/_link.html.twig' with {
  				   url: 'https://www.facebook.com/cafedeschiens',
  					icon: 'bi bi-facebook',
					class: 'o_Navbar_links-socials-link',
  					target: '_blank'
				} %}

				{% include 'components/atoms/_link.html.twig' with {
					url: 'https://www.instagram.com/cafedeschiens',
					icon: 'bi bi-instagram',
					class: 'o_Navbar_links-socials-link',
					target: '_blank'
				} %}

				{% if app.user %}
					{% include 'components/atoms/_link.html.twig' with {
						url: path('profile_dashboard'),
						icon: 'bi bi-person-circle',
						class: 'o_Navbar_links-socials-link',
					} %}
				{% endif %}

			</div>
			<div class="o_Navbar_links-login">
				{% if app.user %}
					{% if 'ROLE_ADMIN' in app.user.roles %}
						{# {% include 'components/atoms/_button.html.twig' with {
													label: 'Admin',
													class: 'a_Button-secondary o_Navbar_login-button',
													url: path('admin')
												} %} #}
					{% endif %}
					{% include 'components/atoms/_button.html.twig' with {
						label: 'Déconnexion',
						class: 'a_Button-primary o_Navbar_login-button',
						url: path('app_logout')
					} %}
				{% else %}
					{% include 'components/atoms/_button.html.twig' with {
						label: 'Connexion',
						class: (isTransparent is defined and isTransparent) 
							? 'a_Button-tertiary o_Navbar_login-button' 
							: 'a_Button-primary o_Navbar_login-button',
						url: path('app_login')
					} %}
				{% endif %}
			</div>
		</div>
	</nav>
</header>
