<div class="m_MobileMenu menu" data-menu-target="menu">
	<div class="m_MobileMenu_content l_Wrapper">
		<div class="m_MobileMenu_header">
			<img class="m_MobileMenu_logo" src="{{ asset('build/images/logos/logo-white-small.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
			<i class="bi bi-x-lg m_MobileMenu_close" data-action="click->menu#close"></i>
		</div>
		<ul class="m_MobileMenu_list">
			{% include 'components/atoms/_mobileMenulink.html.twig' with {
				url: path('home'),
				label: 'Parc',
			} %}

			{% include 'components/atoms/_mobileMenulink.html.twig' with {
				url: path('education'),
				label: 'Éducation',
			} %}

			{% include 'components/atoms/_mobileMenulink.html.twig' with {
				url: path('prices'),
				label: 'Tarifs',
			} %}

			{% include 'components/atoms/_mobileMenulink.html.twig' with {
				url: path('home'),
				label: 'Contact',
			} %}
		</ul>
		<div class="m_MobileMenu_footer">
			<div class="m_MobileMenu_login">
				{% include 'components/atoms/_button.html.twig' with {
				label: 'Connexion',
				class: 'a_Button-tertiary'
			} %}
			</div>
			<div class="m_MobileMenu_social">
				{% include 'components/atoms/_link.html.twig' with {
  				url: 'https://www.facebook.com/cafedeschiens',
  				icon: 'bi bi-facebook',
            class: 'm_MobileMenu_social-link',
  				target: '_blank'
			} %}
				{% include 'components/atoms/_link.html.twig' with {
				url: 'https://www.instagram.com/cafedeschiens',
				icon: 'bi bi-instagram',
            class: 'm_MobileMenu_social-link',
				target: '_blank'
			} %}
			</div>

		</div>
	</div>
</div>
