<div class="m_ReinsuranceItem">
	<div class="m_ReinsuranceItem_icon">
		<i class="{{ icon }}"></i>
	</div>
	<div class="m_ReinsuranceItem_content">
		<p class="m_ReinsuranceItem_title">{{ title }}</p>
		<p class="m_ReinsuranceItem_description">{{ description }}</p>
	</div>
</div>
