@use "../../Settings/variables";
@use "../../Settings/responsive_variables";
@use "../../Tools/mixins";
@use "../../Tools/typography";

.a_Button {
   @include mixins.buttonDefault;

   &-primary {
      @include mixins.buttonDefault;

      background-color: variables.$color-primary;
      color: variables.$color-white;

      &:hover {
         background-color: variables.$color-secondary;
         color: variables.$color-black;
      }
   }

   &-secondary {
      @include mixins.buttonDefault;

      background-color: variables.$color-secondary;
      color: variables.$color-white;

      &:hover {
         background-color: variables.$color-tertiary;
         color: variables.$color-black;
      }
   }

   &-tertiary {
      @include mixins.buttonDefault;

      background-color: variables.$color-white;
      color: variables.$color-primary;

      &:hover {
         background-color: variables.$color-primary;
         color: variables.$color-white;
      }
   }

   &-quarternary {
      @include mixins.buttonDefault;

      background-color: variables.$color-white;
      color: variables.$color-black;

      &:hover {
         background-color: variables.$color-secondary;
         color: variables.$color-white;
      }
   }
}