@use '../../Tools/typography';
@use '../../Settings/variables';

.a_Link {
   display: inline-block;
   color: inherit;
   transition: color variables.$animation ease-in-out;

   &-label {
      @include typography.body-bold;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         left: 0;
         top: 1.25rem;
         width: 0;
         height: 4px;
         background-color: currentColor;
         transition: width variables.$animation ease-in-out;
      }
   }

   &:hover,
   &:focus {
      color: variables.$color-quaternary;
   }

   &:hover &-label::after,
   &:focus &-label::after {
      width: 100%;
   }

   &-noUnderline {
      .a_Link-label {
         &::after {
            display: none;
         }
      }
   }
}