@use "../Settings/variables";
@use "../Settings/responsive_variables";
@use "../Tools/mixins";
@use "../Tools/typography";

.l_Footer {
   @include mixins.padding;

   background-color: variables.$color-primary;
   color: variables.$color-white;

   &_content {
      display: flex;
      flex-direction: column;
      gap: 5rem;
   }

   &_logo {
      img {
         width: 130px;
         height: auto;
      }
   }

   &_title {
      @include typography.h4;
      @include mixins.underline(variables.$color-white);

      margin-bottom: 1.5rem;
   }

   &_menu {
      &_list {
         display: flex;
         flex-direction: column;
         gap: 1rem;
      }

      &_item {

         &-link {
            @include typography.body-bold;
         }
      }
   }

   &_opening {
      width: 12.5rem;

      &-list {
         display: flex;
         flex-direction: column;
         gap: 1rem;
      }

      &-item {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;

         &-day,
         &-time {
            @include typography.body-bold;
         }
      }
   }

   &_contact {

      &-list {
         display: flex;
         flex-direction: column;
         gap: 1rem;
      }

      &-item {
         display: inline-flex;
         align-items: center;
      }

      &-link {
         display: inline-flex;
         align-items: center;

         i {
            font-size: 1.5rem;
            margin-right: 1rem;
         }
      }

      &-text {
         @include typography.body-bold;
      }

      &-social {
         display: flex;
         flex-direction: row;
         gap: 1.5rem;
         margin-top: 3rem;

         &-link {
            i {
               font-size: 2rem;
            }
         }
      }

      &-info {
         margin-top: 3rem;
      }
   }

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      &_content {
         flex-direction: row;
         justify-content: space-between;
      }
   }
}