{# {% set isTransparent = true %} #}

{% extends 'base.html.twig' %}

{% block title %}
	Éducation Canine | Élise Collin
{% endblock %}

{% block body %}
	<div class="p_Education">
		{% include 'components/organisms/_heroStaticPage.html.twig' %}
		{% include 'components/organisms/_aboutMeSectionEducation.html.twig' %}
		{% include 'components/organisms/_educationMethods.html.twig' %}
		{% include 'components/organisms/_informationBannerStatic.html.twig' %}
	</div>
{% endblock %}
