@use "../../Settings/variables";
@use "../../Settings/responsive_variables";
@use "../../Tools/typography";

.m_Card {
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: max-content;
   border: 1px solid rgba(variables.$color-black, 0.2);
   border-radius: variables.$border-radius;

   &_image {
      width: 100%;
      height: auto;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-top-left-radius: variables.$border-radius;
         border-top-right-radius: variables.$border-radius;
      }
   }

   &_content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
   }

   &_title {
      @include typography.h4;
   }

   &_description {
      @include typography.body;
   }

   @media screen and (min-width: responsive_variables.$screen-s-min) {
      width: 30%;
   }
}