@use "../../Settings/responsive_variables";
@use "../../Settings/variables";
@use "../../Tools/typography";
@use "../../Tools/mixins";

.o_AboutMeSectionHome {
   @include mixins.padding;

   width: 100%;
   background-color: variables.$color-secondary;

   &_content {
      display: flex;
      flex-direction: column;
   }

   &_image {
      img {
         height: 150px;
         width: 150px;
         border-radius: variables.$border-radius-100;
      }
   }

   &_text {
      color: variables.$color-white;

      &-title {
         @include typography.h2;
         @include mixins.underline(variables.$color-white);
      }

      &-description {
         margin-top: 2rem;
      }

      &-button {
         margin-top: 3rem;
      }
   }

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      &_content {
         flex-direction: row;
         gap: 5rem;
         justify-content: center;
      }

      &_text {
         max-width: 40%;
      }
   }
}