@use "../../Settings/responsive_variables";
@use "../../Settings/variables";
@use "../../Tools/typography";
@use "../../Tools/mixins";

.o_HeroHome {
   width: 100%;
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: variables.$color-primary;
   padding-top: 80px;

   &_content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
   }

   &_logo {
      img {
         height: 50px;
         width: auto;
         display: block;
      }
   }

   &_information {
      text-align: center;
      color: variables.$color-white;

      &-title {
         @include typography.h1;

         padding-bottom: 20px;
         border-bottom: 1px solid variables.$color-white;
      }

      &-subtitle {
         @include typography.h3;
      }

      &-address {
         @include typography.title;
         @include typography.fontSize(16px);

         margin-top: 16px;
      }
   }

   @media screen and (min-width: responsive_variables.$screen-m-min) {
      &_logo {
         img {
            height: 315px;
            width: auto;
         }
      }
   }
}