@use "../../Settings/variables";
@use "../../Settings/responsive_variables";
@use "../../Tools/mixins";
@use "../../Tools/typography";

.o_HeroStaticPage {
   width: 100%;
   height: 100dvh;
   background-color: variables.$color-white;
   background-image: url("../../../images/hero-static-page.webp");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: flex-start;

   &_information {
      @include mixins.wrapper;

      &-title {
         @include typography.h1;
      }

      &-subtitle {
         @include typography.h2;

         margin-top: 1.5rem;
      }
   }

   &_scroll {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      cursor: pointer;

      i {
         font-size: 2rem;
         color: variables.$color-black;
      }
   }
}