@use "../../Settings/variables";
@use "../../Settings/responsive_variables";
@use "../../Tools/typography";
@use "../../Tools/mixins";

.o_Navbar {
   @include mixins.wrapper;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;

   &_logo {
      img {
         height: 50px;
         width: auto;
         display: block;
      }
   }

   &_menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;

      &-link {
         @include typography.body-bold;
      }
   }

   &_links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;

      &-socials {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 16px;

         &-link {
            display: flex;
            align-items: center;

            i {
               font-size: 24px;
            }
         }
      }

      &-login {}
   }
}