@use "../../Settings/variables";
@use "../../Settings/responsive_variables";
@use "../../Tools/typography";
@use "../../Tools/mixins";

.o_Navbar {
   @include mixins.wrapper;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;

   &_logo {
      height: 50px;
      width: auto;
      display: block;
   }

   &_menu {
      display: none;
   }

   &_links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      &-socials {
         display: none;
      }

      &-login {
         display: none;
      }

      &-mobileMenu {
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;


         i {
            font-size: 2rem;
         }
      }
   }

   @media screen and (min-width: responsive_variables.$screen-s-min) {
      &_menu {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 2.5rem;

         &-link {
            @include typography.body-bold;
         }
      }

      &_links {
         &-mobileMenu {
            display: none;
         }

         &-socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            &-link {
               display: flex;
               align-items: center;

               i {
                  font-size: 1.5rem;
               }
            }
         }

         &-login {
            display: flex;
            align-items: center;
         }
      }
   }
}