<a href="{{ url }}" class="a_MobileMenuLink">
	{% if label is defined %}
		<span class="a_MobileMenuLink_label">{{ label }}</span>
	{% endif %}
	<i class="bi bi-chevron-right a_MobileMenuLink_icon"></i>
</a>
