<section class="o_AboutMeSectionHome" id="qui-suis-je">
	<div class="l_Wrapper">
		<div class="o_AboutMeSectionHome_content">
			<div class="o_AboutMeSectionHome_image">
				<img src="{{ asset('build/images/elise-collin-educatrice-canin.webp') }}" alt="Photo de profil d'Elise Collin, éducatrice canine au Café des Chiens" loading="lazy"/>
			</div>
			<div class="o_AboutMeSectionHome_text">
				<h3 class="o_AboutMeSectionHome_text-title">Qui suis-je ?</h3>
				<p class="o_AboutMeSectionHome_text-description">
					Passionnée par le monde animal depuis ma tendre enfance je me suis lancée dans l'éducation canine en 2017. Depuis environ 8 ans je faisais du gardiennage de chiens et mon amour pour ceux-ci m'a conduite à chercher un travail avec eux.
				</p>
				<a class="a_Button-tertiary o_AboutMeSectionHome_text-button" href="#">En savoir plus</a>
			</div>
		</div>
	</div>
</section>
