<section class="o_AboutSectionHome l_Wrapper" id="about">
	<div class="o_AboutSectionHome_textImageBlock">
		<div class="o_AboutSectionHome_textImageBlock_text">
			<h3 class="o_AboutSectionHome_textImageBlock_text-title">Qu'est-ce que c'est ?</h3>
			<p class="o_AboutSectionHome_textImageBlock_text-description">
				Le Café des Chiens est un centre aéré canin qui va vous permettre de laisser votre chien la journée entre les mains d’une professionnelle où il pourra s'amuser et bien plus encore... Fini le calvaire pour lui de vous attendre toute la journée. Sa bande de copains l’attendra avec impatience toutes les semaines.
			</p>
			<button class="a_Button-primary o_AboutSectionHome_textImageBlock_text-button">Comment ça marche ?</button>
		</div>
		<div class="o_AboutSectionHome_textImageBlock_image">
			<img src="{{ asset('build/images/cours-collectifs-pour-chiens.webp') }}" alt="Logo Café des Chiens" loading="lazy"/>
		</div>
	</div>
	<div class="o_AboutSectionHome_textImageBlock-reverse">
		<div class="o_AboutSectionHome_textImageBlock_text">
			<h3 class="o_AboutSectionHome_textImageBlock_text-title">Pour qui ?</h3>
			<h4 class="o_AboutSectionHome_textImageBlock_text-subtitle">Le Café des Chiens est ouvert à tous</h4>
			<p class="o_AboutSectionHome_textImageBlock_text-description">
				Vous manquez de temps pour promener votre chien ? Vous voulez lui garantir une socialisation optimale avec ses congénères ? Vous avez tout simplement envie de faire plaisir à votre meilleur ami à 4 pattes ? Pour toutes ces raisons et d’autres encore, le Café des Chiens est fait pour votre compagnon.
			</p>
			<p class="o_AboutSectionHome_textImageBlock_text-additionnal">
				Le Café des Chiens est ouvert à tout type de chien (à l'exception des chiens de catégorie 1 et 2).
			</p>
		</div>
		<div class="o_AboutSectionHome_textImageBlock_image">
			<img src="{{ asset('build/images/centre-aere-pour-chiens.webp') }}" alt="Logo Café des Chiens" loading="lazy"/>
		</div>
	</div>
</section>
