<section class="o_CardList l_Wrapper">
	{% include 'components/molecules/_card.html.twig' with {
      image: 'build/images/chien-sieste.webp',
      title: "Chien apaisé",
      description: "Grâce à nous votre chien aura eu une journée bien remplie et plusieurs de ses besoins auront été comblés comme son épanouissement personnel et ses besoins sociaux. Un bon moyen de répondre à son bien-être physique et limiter les risques d’obésité."
   } %}
	{% include 'components/molecules/_card.html.twig' with {
      image: 'build/images/chien-apprentissage.webp',
      title: "Apprentissage",
      description: "L’apprentissage permet de libérer l’énergie accumulée de votre chien et de répondre à son bien-être mental. Il pourra également apprendre de ses congénères par mimétisme."
   } %}
	{% include 'components/molecules/_card.html.twig' with {
      image: 'build/images/sociabilisation-chiens.webp',
      title: "Chien sociable",
      description: "Les bienfaits du Café des chiens sont entre autre de renforcer l’apprentissage du code canin de votre toutou et le développement de ses capacités sociales. Rien de plus agréable que de voir son chien s’amuser avec ses congénères. Voilà un cocktail parfait pour avoir un chien équilibré et limiter les risques d’hyper attachement."
   } %}
</section>
