<section class="o_CostBannerHome">
	<div class="l_Wrapper">
		<div class="o_CostBannerHome_content">
			<div class="o_CostBannerHome_image">
				<img src="{{ asset('build/images/illustrations/equal.png') }}" alt="" loading="lazy"/>
			</div>
			<div class="o_CostBannerHome_text">
				<p class="o_CostBannerHome_title">N'ayez plus peur pour votre canapé !</p>
				<p class="o_CostBannerHome_description">Emmener son chien au Café des Chiens, c'est agir malin et avoir l'esprit tranquille. Vous récupérerez votre animal heureux et apaisé !
					<br>
					Ce moment privilégié ne pourra être que bénéfique et enrichissant pour votre toutou : il aura eu des échanges et fait des découvertes.
					<br>Une solution pour éviter à votre chien de développer un trouble du comportement.
				</p>
			</div>
		</div>
	</div>
</section>
