<section class="o_HeroHome">
	<div class="o_HeroHome_content">
		<div class="o_HeroHome_logo">
			<img src="{{ asset('build/images/logos/logo-white-large.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
		</div>
		<div class="o_HeroHome_information">
			<h1 class="o_HeroHome_information-title">Le centre aéré pour votre chien</h1>
			<h2 class="o_HeroHome_information-subtitle">Le Café des Chiens</h2>
			<h3 class="o_HeroHome_information-address">
				Rue des Brassières</br>
			38420 - Le Versoud
		</h3>
	</div>
</div>
<a class="o_HeroHome_scroll" href="#about">
	<i class="bi bi-chevron-down"></i>
</a></section>
