<section class="o_InformationBanner">
	<div class="l_Wrapper o_InformationBanner_content">
		<div class="o_InformationBanner_opening">
			<h4 class="o_InformationBanner_title">Horaires</h4>
			<p class="o_InformationBanner_description">
				Vous venez déposer votre chien à votre convenance au centre aéré pendant ses heures d'ouverture.
				<br>
				Que ce soit pour la journée ou quelques heures.
			</p>
			<div class="o_InformationBanner_icon">
				<i class="bi bi-calendar-week"></i>
				<span class="o_InformationBanner_icon-text">Du mardi au vendredi</span>
			</div>
			<div class="o_InformationBanner_icon">
				<i class="bi bi-clock"></i>
				<span class="o_InformationBanner_icon-text">De 8h à 19h</span>
			</div>
		</div>
		<div class="o_InformationBanner_prices">
			<h4 class="o_InformationBanner_title">Forfaits et Tarifs</h4>
			<p class="o_InformationBanner_description">
				À la journée ou demi-journée, choisissez ce qui vous convient le mieux.
			</p>
			<a class="a_Button-primary o_InformationBanner_button" href="{{ path ('prices') }}">En savoir plus</a>
		</div>
	</div>
</section>
