<section class="o_InformationBanner">
	<div class="l_Wrapper o_InformationBanner_content">
		<div class="o_InformationBanner_opening">
			<h4 class="o_InformationBanner_title">Où me trouver</h4>
			<p class="o_InformationBanner_description">
				Vous me trouverez non loin de Grenoble, au Versoud.
				<br>
				Je me déplace sur Grenoble et ses environs.
			</p>
			{% include 'components/atoms/_button.html.twig' with {
				url: path ('education'),
				label: 'En savoir plus',
				class: 'a_Button-primary o_InformationBanner_button'
			} %}
		</div>
		<div class="o_InformationBanner_prices">
			<h4 class="o_InformationBanner_title">Comment me contacter</h4>
			{% include 'components/atoms/_link.html.twig' with {
				url: 'tel:+33630209394',
				icon: 'bi bi-telephone-fill',
				label: '06 30 20 93 94',
				class: 'o_InformationBanner_icon a_Link-noUnderline'
			} %}
			{% include 'components/atoms/_link.html.twig' with {
				url: 'mailto:contact@cafedeschiens.com',
				icon: 'bi bi-envelope-fill',
				label: 'contact@cafedeschiens.com',
				class: 'o_InformationBanner_icon a_Link-noUnderline'
			} %}
		</div>
	</div>
</section>
