<section class="o_InformationBanner">
	<div class="l_Wrapper o_InformationBanner_content">
		<div class="o_InformationBanner_opening">
			<h4 class="o_InformationBanner_title">Où me trouver</h4>
			<p class="o_InformationBanner_description">
				Vous me trouverez non loin de Grenoble, au Versoud.
				<br>
				Je me déplace sur Grenoble et ses environs.
			</p>
		</div>
		<div class="o_InformationBanner_prices">
			<h4 class="o_InformationBanner_title">Comment me contacter</h4>
			<div class="o_InformationBanner_icon">
				<i class="bi bi-telephone-fill"></i>
				<span class="o_InformationBanner_icon-text">
					06 30 20 93 94
				</span>
			</div>
			<div class="o_InformationBanner_icon">
				<i class="bi bi-envelope-fill"></i>
				<span class="o_InformationBanner_icon-text">
					contact@cafedeschien.com
				</span>
			</div>
		</div>
	</div>
</section>
