<section class="o_AboutSectionHome l_Wrapper" id="localisation">
	<div class="m_TextImageBlock">
		<div class="m_TextImageBlock_content">
			<h3 class="m_TextImageBlock_title">2000m² pour votre chien</h3>
			<p class="m_TextImageBlock_description">
				2000m² en pleine campagne, totalement clôturé et sécurisé. Cette grande surface permet d'organiser l'espace en plusieurs parties :
			</p>
			<ul class="m_TextImageBlock_list">
				<li class="m_TextImageBlock_list-item">
					<i class="bi bi-check-lg"></i>
					<span class="m_TextImageBlock_list-item-text">Un terrain d'éducation</span>
				</li>
				<li class="m_TextImageBlock_list-item">
					<i class="bi bi-check-lg"></i>
					<span class="m_TextImageBlock_list-item-text">Un terrain de jeux</span>
				</li>
				<li class="m_TextImageBlock_list-item">
					<i class="bi bi-check-lg"></i>
					<span class="m_TextImageBlock_list-item-text">Un espace d'accueil pour vous accueillir</span>
				</li>
				<li class="m_TextImageBlock_list-item">
					<i class="bi bi-check-lg"></i>
					<span class="m_TextImageBlock_list-item-text">Un espace détente pour la sieste (des chiens)</span>
				</li>
			</ul>
		</div>
		<div class="m_TextImageBlock_image">
			<img src="{{ asset('build/images/illustrations/centre-aere.webp') }}" alt="Un espace extérieur pour votre chien" loading="lazy"/>
		</div>
	</div>
	<div class="m_TextImageBlock-reverse">
		<div class="m_TextImageBlock_content">
			<h3 class="m_TextImageBlock_title">Localisation</h3>
			<p class="m_TextImageBlock_description">
				Vous pouvez venir nous voir non loin de Grenoble, derrière l'aérodrome du Versoud, et à côté de l'école de vol à voile.
			</p>
			<ul class="m_TextImageBlock_list">
				<li class="m_TextImageBlock_list-item">
					<i class="bi bi-stopwatch"></i>
					<span class="m_TextImageBlock_list-item-text">À 10 minutes d'Innovallée</span>
				</li>
				<li class="m_TextImageBlock_list-item">
					<i class="bi bi-stopwatch"></i>
					<span class="m_TextImageBlock_list-item-text">À 15 minutes de Meylan</span>
				</li>
			</ul>
			<p class="m_TextImageBlock_additionnal">
				Le Café des chiens<br>
				Rue des Brassières<br>
				38420 Le Versoud
			</p>
		</div>
		<div class="m_TextImageBlock_image">
			<img src="{{ asset('build/images/google-map.jpg') }}" alt="Localisation du Café des Chiens" loading="lazy"/></div>
	</div>
</section>
