<section class="o_CardList l_Wrapper">
	{% include 'components/molecules/_card.html.twig' with {
      image: 'build/images/illustrations/travailler.webp',
      title: "Temps",
      description: "Il n'est pas toujours évident au quotidien de lui consacrer suffisamment de temps : une journée de travail plus longue que d'habitude, accompagner les enfants au sport, faire les courses pour la famille..."
   } %}
	{% include 'components/molecules/_card.html.twig' with {
      image: 'build/images/illustrations/canape.webp',
      title: "Destructions",
      description: "Votre chien demande une attention particulière et ses besoins ne se limitent pas qu’à des besoins affectifs. Des absences trop longues et des dépenses trop courtes peut conduire votre chien à détruire dès que vous aurez le dos tourné."
   } %}
	{% include 'components/molecules/_card.html.twig' with {
      image: 'build/images/illustrations/aboyer.webp',
      title: "Aboiements",
      description: "Votre chien a besoin de liberté, d’échanger avec ses congénères, de découvrir des choses. Manquer à ses besoins d’épanouissement personnel peut vite se traduire par des aboiements à longueur de journée lorsque vous n'êtes pas là."
   } %}
</section>
