{# {% set isTransparent = true %} #}

{% extends 'base.html.twig' %}

{% block title %}
	Contact | Élise Collin
{% endblock %}

{% block body %}
	<div class="p_Static">
		{% include 'components/organisms/_heroStaticPage.html.twig' with {
			title: "Contact",
			subtitle: "Élise Collin"
		} %}
		{% include 'components/organisms/_contactPageSection.html.twig' %}
		{% include 'components/organisms/_informationBannerStatic.html.twig' %}
	</div>
{% endblock %}
